Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

refactor(cadical): version config switches
  cadical/build.rs
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/ccadical_extension.h
  cadical/cpp-extension/solver_extension.cpp
  cadical/src/ffi.rs
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: fix subtree update command
  justfile
Due: none

feat(cadical): version 2.2.0
  cadical/Cargo.toml
  cadical/README.md
  cadical/build.rs
  cadical/cpp-extension/cadical_extension.hpp
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/ccadical_extension.h
  cadical/cpp-extension/ctracer.cpp
  cadical/cpp-extension/ctracer.h
  cadical/cpp-extension/solver_extension.cpp
  cadical/cppsrc/src/congruence.cpp
  cadical/cppsrc/src/congruence.hpp
  cadical/cppsrc/src/solver.cpp
  cadical/patches/v220.patch
  cadical/src/ffi.rs
  cadical/src/lib.rs
  cadical/src/prooftracer.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(cadical/kissat): properly mark `rerun-if` in build scripts
  cadical/build.rs
  kissat/build.rs
Due: cargo-check, cargo-spellcheck

fix(docsrs): proper config for building docs
  batsat/Cargo.toml
  cadical/Cargo.toml
  cadical/build.rs
  flake.nix
  glucose/Cargo.toml
  ipasir/Cargo.toml
  kissat/Cargo.toml
  minisat/Cargo.toml
  pigeons/Cargo.toml
  tools/Cargo.toml
Due: cargo-check, cargo-spellcheck

feat: 2-produce am1 encoding
  src/encodings/am1.rs
  src/encodings/am1/twoproduct.rs
  tests/am1_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: 2-product am1 encoding (#539)
  src/encodings/am1.rs
  src/encodings/am1/twoproduct.rs
  tests/am1_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

imbalanced weighted tree test
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix merge_balanced
  src/encodings/nodedb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

tot tree construction benchmark
  Cargo.lock
  Cargo.toml
  README.md
  benches/construct_trees.rs
  flake.lock
  flake.nix
  pyapi/default.nix
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

faster tree balancing
  src/encodings/nodedb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

get rid of recursion in building trees
  benches/construct_trees.rs
  flake.nix
  rust-toolchain.toml
  src/encodings/card/totalizer.rs
  src/encodings/nodedb.rs
  src/encodings/pb/dpw.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb.rs
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(capi): export 2-product am1 encoding
  capi/rustsat.h
  capi/src/encodings.rs
  capi/src/encodings/am1.rs
  capi/tests/twoproduct-basic.c
  capi/tests/twoproduct-drop.c
  codegen/src/main.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(capi): export 2-product am1 encoding (#541)
  capi/rustsat.h
  capi/src/encodings.rs
  capi/src/encodings/am1.rs
  capi/tests/twoproduct-basic.c
  capi/tests/twoproduct-drop.c
  codegen/src/main.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor: remove recursion in building totalizer trees (#540)
  Cargo.lock
  Cargo.toml
  README.md
  benches/construct_trees.rs
  flake.lock
  flake.nix
  pyapi/default.nix
  rust-toolchain.toml
  src/encodings/card/totalizer.rs
  src/encodings/nodedb.rs
  src/encodings/pb/dpw.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb.rs
  src/encodings/totdb/cert.rs
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update development environment
  flake.lock
Due: none

fix: typos
  src/encodings/totdb/cert.rs
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: remove unused dependencies
  .github/workflows/ci.yml
  Cargo.lock
  batsat/Cargo.toml
  flake.nix
Due: cargo-check

fix: fail capi test setup on build failure
  scripts/setup-capi-tests.sh
Due: none

refactor(fio)!: rewrite OPB parsers in `winnow`
  Cargo.lock
  Cargo.toml
  src/instances/fio.rs
  src/instances/fio/opb.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types.rs
  src/utils.rs
  tools/src/bin/check-solution.rs
  tools/src/bin/enumerator.rs
  tools/src/bin/gbmosplit.rs
  tools/src/bin/mo2ilp.rs
  tools/src/bin/propagator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(fio): OPB iterator parser
  data/tiny-multiopt.opb
  src/instances/fio.rs
  src/instances/fio/opb.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  tests/opb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor!: dimacs parser rewrite
  src/instances/fio.rs
  src/instances/fio/dimacs.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types/constraints.rs
  tools/src/bin/check-solution.rs
  tools/src/bin/enumerator.rs
  tools/src/bin/mo2ilp.rs
  tools/src/bin/propagator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor!: custom error types instead of anyhow
  Cargo.lock
  Cargo.toml
  src/instances.rs
  src/instances/fio.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

basic wepage layout with dodeca
  .gitignore
  flake.lock
  flake.nix
  webpage/.config/dodeca.kdl
  webpage/content/_index.md
  webpage/content/guide/_index.md
  webpage/content/guide/architecture.md
  webpage/content/guide/solvers.md
  webpage/public/guide/architecture/index.html
  webpage/public/guide/index.html
  webpage/public/guide/solvers/index.html
  webpage/public/index.html
  webpage/public/js/dodeca.d21add446cd0.js
  webpage/public/main.2224d5ao3d30.css
  webpage/public/pagefind/fragment/en_1b25a26.pf_fragment
  webpage/public/pagefind/fragment/en_465b807.pf_fragment
  webpage/public/pagefind/fragment/en_4731579.pf_fragment
  webpage/public/pagefind/fragment/en_90f6d41.pf_fragment
  webpage/public/pagefind/index/en_929b866.pf_index
  webpage/public/pagefind/pagefind-entry.json
  webpage/public/pagefind/pagefind-highlight.js
  webpage/public/pagefind/pagefind-modular-ui.css
  webpage/public/pagefind/pagefind-modular-ui.js
  webpage/public/pagefind/pagefind-ui.css
  webpage/public/pagefind/pagefind-ui.js
  webpage/public/pagefind/pagefind.en_34c91083bb.pf_meta
  webpage/public/pagefind/pagefind.js
  webpage/public/pagefind/wasm.en.pagefind
  webpage/public/pagefind/wasm.unknown.pagefind
  webpage/sass/main.scss
  webpage/static/js/dodeca.js
  webpage/target/rust-analyzer/flycheck0/stderr
  webpage/target/rust-analyzer/flycheck0/stdout
  webpage/templates/base.html
  webpage/templates/index.html
  webpage/templates/page.html
  webpage/templates/section.html
Due: none

fix(ci): rollback dev env
  flake.lock
Due: none

chore: overlay newer cargo-deny version
  flake.nix
Due: none

chore: update nur-packages input
  flake.lock
Due: none

fix(totalizers): don't assert but return `None`
  src/encodings/nodedb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(fio): OPB iterator parser
  data/tiny-multiopt.opb
  src/instances/fio.rs
  src/instances/fio/opb.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types.rs
  tests/opb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(totalizers): don't assert but return `None` (#548)
  src/encodings/nodedb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(ci): ignore dev dependencies in cargo deny check
  .github/workflows/ci.yml
  justfile
Due: none

fix(ci): ignore dev dependencies in cargo deny check (#550)
  .github/workflows/ci.yml
  justfile
Due: none

feat: specify new solver interface API
  solvertests/src/lib.rs
  solvertests/src/unit.rs
  src/lib.rs
  src/solvers.rs
  src/solvers/sat.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: implement new solver API for Minisat
  minisat/src/core.rs
  minisat/src/lib.rs
  minisat/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: implement new solver API for Glucose
  glucose/src/core.rs
  glucose/src/lib.rs
  glucose/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck
