Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

cargo-check:
  name: Check cargo workspace
  description: Check the cargo workspace for errors
  entry: cargo check --workspace
  language: system
  pass_filenames: false

cargo-fmt:
  name: Format cargo workspace
  description: Format the cargo workspace
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-spellcheck:
  name: Spellchecking documentation
  entry: cargo spellcheck --code 1
  language: system

docs: update badges and docs link
  README.md
  batsat/README.md
  cadical/README.md
  glucose/README.md
  ipasir/README.md
  justfile
  kissat/README.md
  minisat/README.md
  pigeons/README.md
  pyapi/README.md
  pyapi/pyproject.toml
  tools/README.md
Due: none

fix(ci): release-plz on self-hosted runner
  .env
  .github/runner/Dockerfile
  .github/workflows/release-plz.yml
Due: none

docs: update badges and docs link (#366)
  README.md
  batsat/README.md
  cadical/README.md
  glucose/README.md
  ipasir/README.md
  justfile
  kissat/README.md
  minisat/README.md
  pigeons/README.md
  pyapi/README.md
  pyapi/pyproject.toml
  tools/README.md
Due: none

manually update changelog
  CHANGELOG.md
Due: none

update dates in changelogs
  CHANGELOG.md
  batsat/CHANGELOG.md
  cadical/CHANGELOG.md
  glucose/CHANGELOG.md
  ipasir/CHANGELOG.md
  kissat/CHANGELOG.md
  minisat/CHANGELOG.md
  pigeons/CHANGELOG.md
  pyapi/CHANGELOG.md
  tools/CHANGELOG.md
Due: none

fix incorrect update
  pyapi/CHANGELOG.md
Due: none

chore: nightly development toolchain
  flake.lock
  flake.nix
  rust-toolchain.toml
Due: none

clippy
  examples/profiling.rs
  src/instances/opt.rs
  src/solvers/external.rs
  tests/pb_encodings.rs
  tools/src/bin/enumerator.rs
  tools/src/bin/gbmosplit.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

remove `+nightly` from justfile
  justfile
Due: none

update Dockerfile
  .github/runner/Dockerfile
Due: none

chore: nightly development toolchain (#372)
  .github/runner/Dockerfile
  examples/profiling.rs
  flake.lock
  flake.nix
  justfile
  rust-toolchain.toml
  src/instances/opt.rs
  src/solvers/external.rs
  tests/pb_encodings.rs
  tools/src/bin/enumerator.rs
  tools/src/bin/gbmosplit.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: re-enable runtime feature flag for bindgen
  Cargo.lock
  Cargo.toml
Due: cargo-check

fix: always cache node values in `ValueIter`
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: always cache node values in `ValueIter` (#374)
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: re-enable runtime feature flag for bindgen (#373)
  Cargo.lock
  Cargo.toml
Due: cargo-check

fix(batsat): don't offset variables by one
  batsat/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(batsat): implement `reserve`
  batsat/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(batsat): track state and return state errors
  batsat/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(minisat): rework C-API
  minisat/build.rs
  minisat/cppsrc/minisat/cminisat.cc
  minisat/cppsrc/minisat/cminisat.h
  minisat/cppsrc/minisat/core/Solver.cc
  minisat/cppsrc/minisat/core/Solver.h
  minisat/cppsrc/minisat/mtl/Vec.h
  minisat/src/core.rs
  minisat/src/lib.rs
  minisat/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(glucose): rework C-API
  glucose/build.rs
  glucose/cppsrc/cglucose4.cc
  glucose/cppsrc/cglucose4.h
  glucose/cppsrc/core/Solver.cc
  glucose/cppsrc/core/Solver.h
  glucose/cppsrc/mtl/Vec.h
  glucose/src/core.rs
  glucose/src/lib.rs
  glucose/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(minisat): rework C-API (#379)
  minisat/build.rs
  minisat/cppsrc/minisat/cminisat.cc
  minisat/cppsrc/minisat/cminisat.h
  minisat/cppsrc/minisat/core/Solver.cc
  minisat/cppsrc/minisat/core/Solver.h
  minisat/cppsrc/minisat/mtl/Vec.h
  minisat/src/core.rs
  minisat/src/lib.rs
  minisat/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(glucose): rework C-API (#380)
  glucose/build.rs
  glucose/cppsrc/cglucose4.cc
  glucose/cppsrc/cglucose4.h
  glucose/cppsrc/core/Solver.cc
  glucose/cppsrc/core/Solver.h
  glucose/cppsrc/mtl/Vec.h
  glucose/src/core.rs
  glucose/src/lib.rs
  glucose/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(glucose): uninitialized memory
  glucose/cppsrc/simp/SimpSolver.cc
Due: none

fix(glucose): incorrect usage of new C-API
  glucose/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

test: increase test coverage for solvers
  batsat/src/lib.rs
  cadical/src/lib.rs
  cadical/tests/internal_stats.rs
  glucose/src/core.rs
  glucose/src/simp.rs
  glucose/tests/incremental.rs
  glucose/tests/internal_stats.rs
  kissat/src/lib.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  minisat/tests/incremental.rs
  minisat/tests/internal_stats.rs
  solvertests/src/integration.rs
  solvertests/src/lib.rs
  solvertests/src/unit.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

test: increase test coverage for solvers (#382)
  batsat/src/lib.rs
  cadical/src/lib.rs
  cadical/tests/internal_stats.rs
  glucose/src/core.rs
  glucose/src/simp.rs
  glucose/tests/incremental.rs
  glucose/tests/internal_stats.rs
  kissat/src/lib.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  minisat/tests/incremental.rs
  minisat/tests/internal_stats.rs
  solvertests/src/integration.rs
  solvertests/src/lib.rs
  solvertests/src/unit.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix!(pigeons): make bounds conclusion useable
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs(pigeons): fix typo
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: update minisat/glucose cpp source links
  glucose/README.md
  glucose/src/lib.rs
  minisat/README.md
  minisat/src/lib.rs
  src/solvers.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

test(pigeons): increase test coverage
  data/decision_sat.opb
  data/miniProof_polishnotation_1.opb
  data/optimization_2.opb
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: update minisat/glucose cpp source links (#384)
  glucose/README.md
  glucose/src/lib.rs
  minisat/README.md
  minisat/src/lib.rs
  src/solvers.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(pigeons): memory leak in `pigeons::Proof::end`
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

test(ci): valgrind test for solvers and c-api
  .github/runner/Dockerfile
  .github/workflows/ci.yml
  flake.nix
  justfile
  rust-toolchain.toml
Due: none

chore: format `Cargo.toml`
  Cargo.toml
Due: cargo-check

chore: format `Cargo.toml` (#386)
  Cargo.toml
Due: cargo-check

chore(pyapi): update PyO3
  Cargo.lock
  pyapi/Cargo.toml
Due: cargo-check

chore(pyapi): update PyO3 (#393)
  Cargo.lock
  pyapi/Cargo.toml
Due: cargo-check

Path conditions:
  cargo-check: any of: (.+\.rs|.*Cargo.(toml|lock))$
  cargo-fmt: any of: src/.+\.rs$
  cargo-spellcheck: any of: (.+\.rs|docs/.+\.md)$
