Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

fix(ci): release-plz workflow
  .github/workflows/release-plz.yml
  cadical/cppsrc/.gitignore
  kissat/csrc/.gitignore
Due: none

chore: correct MSRV to 1.74
  Cargo.toml
Due: cargo-check

chore(ci): simplify CI
  .github/workflows/batsat.yml
  .github/workflows/cadical.yml
  .github/workflows/capi.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/glucose.yml
  .github/workflows/ipasir.yml
  .github/workflows/kissat.yml
  .github/workflows/minisat.yml
  .github/workflows/pr-lints.yml
  .github/workflows/pyapi.yml
  .github/workflows/release.yml
  .github/workflows/rustsat.yml
  .github/workflows/tools.yml
  scripts/rust-versions.sh
Due: none

chore: remove deprecated CI badges
  README.md
  batsat/README.md
  cadical/README.md
  capi/README.md
  glucose/README.md
  ipasir/README.md
  kissat/README.md
  minisat/README.md
  pyapi/README.md
  tools/README.md
Due: none

chore(capi): don't sort functions
  capi/cbindgen.toml
  capi/rustsat.h
Due: none

chore(capi): cleanup
  capi/rustsat.h
  capi/src/encodings/adder.rs
  capi/src/encodings/dpw.rs
  capi/src/encodings/gte.rs
  capi/src/encodings/totalizer.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

tests: basic tests for am1 encodings
  src/encodings/am1/bimander.rs
  src/encodings/am1/bitwise.rs
  src/encodings/am1/commander.rs
  src/encodings/am1/ladder.rs
  src/encodings/am1/pairwise.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(capi): include at-most-one encodings
  capi/cbindgen.toml
  capi/rustsat.h
  capi/src/encodings.rs
  capi/src/encodings/bimander.rs
  capi/src/encodings/bitwise.rs
  capi/src/encodings/commander.rs
  capi/src/encodings/commander.rs~
  capi/src/encodings/ladder.rs
  capi/src/encodings/pairwise.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: clippy
  src/encodings/am1/bimander.rs
  src/encodings/am1/commander.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/pb/dpw.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: ignore vendored code in language stats
  .gitattributes
Due: none

feat(tools): `propagator` tool
  tools/src/bin/propagator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: expose literal parsing functions as internals
  src/instances/fio/dimacs.rs
  src/instances/fio/opb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: document MSRV policy
  .config/abbreviations.dic
  Cargo.toml
  README.md
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(tools): version follows main crate
  release-plz.toml
  tools/Cargo.toml
  tools/default.nix
Due: cargo-check

chore: manually clean up changelogs
  CHANGELOG.md
  cadical/CHANGELOG.md
  glucose/CHANGELOG.md
  kissat/CHANGELOG.md
  minisat/CHANGELOG.md
  tools/CHANGELOG.md
Due: none

chore: fix release
  Cargo.toml
Due: cargo-check

tests: extend pb-enc benchmarks
  src/bench.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: optimize `DbGte` building code
  src/encodings/card/dbtotalizer.rs
  src/encodings/pb/dbgte.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: fix warnings in benches
  src/bench.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: two bugs in `BinaryAdder`
  src/encodings/pb/adder.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: fix cyclic dev-dependencies
  Cargo.toml
  release-plz.toml
Due: cargo-check

Revert "fix: fix cyclic dev-dependencies"
  Cargo.toml
  release-plz.toml
Due: cargo-check

fix: avoid scraping examples with cyclic dependencies
  CHANGELOG.md
  Cargo.toml
Due: cargo-check

fixup! fix(rustsat): remove dead code
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: allow inverting and splitting card/PB constraints
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: extending PB constraints to cardinalities
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: certified card/PB constraint encodings
  data/single-card-eq.opb
  data/single-ub.opb
  src/encodings/card/cert.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/card/simulators.rs
  src/encodings/pb/cert.rs
  src/encodings/pb/dbgte.rs
  src/encodings/pb/simulators.rs
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

perf!: remove blanket implementations for both bounding encodings
  src/encodings/card.rs
  src/encodings/card/cert.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/card/simulators.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb.rs
  src/encodings/pb/adder.rs
  src/encodings/pb/cert.rs
  src/encodings/pb/simulators.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: use `DbTotalizer` and `DbGte` as default encodings
  src/encodings/card.rs
  src/encodings/pb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: translation of assignment from equality
  src/encodings/card/cert.rs
  src/encodings/pb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

some fixes
  Cargo.lock
  Cargo.toml
  pigeons/Cargo.toml
  pigeons/src/ops.rs
  pigeons/src/types.rs
  src/encodings/totdb.rs
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): build with all features
  .github/workflows/ci.yml
Due: none

WIP refactor!: move totalizer database to separate module
  .config/lingo.dic
  Cargo.lock
  Cargo.toml
  batsat/Cargo.toml
  batsat/src/lib.rs
  cadical/Cargo.toml
  cadical/build.rs
  cadical/src/lib.rs
  capi/Cargo.toml
  capi/build.rs
  capi/src/lib.rs
  glucose/Cargo.toml
  glucose/build.rs
  glucose/src/lib.rs
  ipasir/Cargo.toml
  ipasir/src/lib.rs
  kissat/Cargo.toml
  kissat/build.rs
  kissat/src/lib.rs
  minisat/Cargo.toml
  minisat/build.rs
  minisat/src/lib.rs
  pyapi/Cargo.toml
  pyapi/build.rs
  pyapi/src/lib.rs
  solvertests/Cargo.toml
  src/lib.rs
  tools/Cargo.toml
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor!: move totalizer database to separate module
  src/encodings.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/nodedb.rs
  src/encodings/pb/dbgte.rs
  src/encodings/pb/dpw.rs
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

perf!: remove blanket implementations for both bounding encodings
  src/encodings/card.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/card/simulators.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb.rs
  src/encodings/pb/adder.rs
  src/encodings/pb/simulators.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): exclude semverchecks for `next-major` PRs
  .github/workflows/semver-checks.yml
Due: none

chore: script for checking each feature individually
  cadical/build-all.sh
  cadical/test-all.sh
  kissat/build-all.sh
  kissat/test-all.sh
  scripts/check-all-features.sh
Due: none

feat(cadical): CaDiCaL API tracing
  .config/lingo.dic
  cadical/Cargo.toml
  cadical/README.md
  cadical/build.rs
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/ccadical_extension.h
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): documentation generation with all features
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck
