Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

cargo-check:
  name: Check cargo workspace
  description: Check the cargo workspace for errors
  entry: cargo check --workspace
  language: system
  pass_filenames: false

cargo-fmt:
  name: Format cargo workspace
  description: Format the cargo workspace
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-spellcheck:
  name: Spellchecking documentation
  entry: cargo spellcheck --code 1
  language: system

refactor(pigeons): abstract keywords
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/ops.rs
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix!(pigeons): remove incorrect substitution rule
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor!(pigeons): remove `short-keywords` features
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): version 3 syntax for existing functionality
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
  test.elab
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): `pbc` rule
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): permutation and constraints output types
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb/cert.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): new cutting planes rules in veripb 3
  data/lower_rhs.opb
  data/normalized_mir_cut.opb
  data/variable_form_division.opb
  data/variable_form_mir_cut.opb
  pigeons/src/keywords.rs
  pigeons/src/ops.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): more veripb3 convenience rules
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(pigeons): require specification of variable to weaken
  pigeons/src/ops.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: clean up veripb examples
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-spellcheck

feat(pigeons): support for orders with auxiliary variables
  data/dominance_with_aux_vars.opb
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor: switch to `mod.rs` for root modules
  capi/src/encodings/mod.rs
  pyapi/src/encodings/mod.rs
  src/algs/mod.rs
  src/encodings/am1/mod.rs
  src/encodings/card/mod.rs
  src/encodings/mod.rs
  src/encodings/pb/mod.rs
  src/encodings/totdb/mod.rs
  src/instances/fio/mod.rs
  src/instances/fio/snapshots/rustsat__instances__fio__tests__parsing_error_format.snap
  src/instances/mod.rs
  src/solvers/mod.rs
  src/types/mod.rs
  tools/src/encodings/cnf/mod.rs
  tools/src/encodings/mod.rs
  tools/src/encodings/pb/mod.rs
  tools/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: remove unnecessary clones
  glucose/build.rs
  minisat/build.rs
  src/encodings/pb/simulators.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: reduce rightward drift while unwrapping an Option
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: some cleanup (#722)
  glucose/build.rs
  minisat/build.rs
  src/encodings/pb/simulators.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: fix warning in crane deriviations
  flake/basics.nix
  flake/ci-shells.nix
  flake/code-quality.nix
  flake/crane.nix
  flake/doc.nix
  flake/features.nix
  flake/msrv.nix
  flake/tests.nix
Due: none

chore: fix warning in crane deriviations (#727)
  flake/basics.nix
  flake/ci-shells.nix
  flake/code-quality.nix
  flake/crane.nix
  flake/doc.nix
  flake/features.nix
  flake/msrv.nix
  flake/tests.nix
Due: none

chore: remove some inline modules
  cadical/src/ffi.rs
  cadical/src/ffi/mod.rs
  cadical/src/ffi/prooftracer.rs
  glucose/src/ffi.rs
  glucose/src/lib.rs
  minisat/src/ffi.rs
  minisat/src/lib.rs
  src/encodings/card/totalizer/mod.rs
  src/encodings/card/totalizer/referenced.rs
  src/encodings/pb/dpw/mod.rs
  src/encodings/pb/dpw/referenced.rs
  src/encodings/pb/gte/mod.rs
  src/encodings/pb/gte/referenced.rs
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: mention epage's Rust style in `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: none

refactor: move testing macros to integration test submodule
  tests/am1_encodings.rs
  tests/card_encodings.rs
  tests/cnf.rs
  tests/common/mod.rs
  tests/constraints.rs
  tests/pb_encodings.rs
  tools/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor: define conditionally pub modules via macro
  src/encodings/mod.rs
  src/encodings/totdb/mod.rs
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor: use macro by example in solvertests
  Cargo.lock
  batsat/src/lib.rs
  batsat/tests/incremental.rs
  batsat/tests/small.rs
  cadical/src/lib.rs
  cadical/tests/flipping.rs
  cadical/tests/incremental.rs
  cadical/tests/internal_stats.rs
  cadical/tests/learning.rs
  cadical/tests/phasing.rs
  cadical/tests/small.rs
  glucose/src/core.rs
  glucose/src/simp.rs
  glucose/tests/incremental.rs
  glucose/tests/internal_stats.rs
  glucose/tests/phasing.rs
  glucose/tests/small.rs
  kissat/src/lib.rs
  kissat/tests/small.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  minisat/tests/incremental.rs
  minisat/tests/internal_stats.rs
  minisat/tests/phasing.rs
  minisat/tests/small.rs
  solvertests/Cargo.toml
  solvertests/src/integration.rs
  solvertests/src/lib.rs
  solvertests/src/unit.rs
  tests/external_solver.rs
  tests/solver_simulators.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update cargo-rdme
  flake/basics.nix
  flake/devshell.nix
  pigeons/README.md
Due: none

chore: update cargo-rdme (#732)
  flake/basics.nix
  flake/devshell.nix
  pigeons/README.md
Due: none

test(pigeons): more test coverage from veripb examples
  data/delete_core_subproof_proofgoal.opb
  data/deletion_find.opb
  data/deletion_multiple_core.opb
  data/derived.opb
  data/dominance_simple_order.opb
  data/objective_update.opb
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): permutation and constraints output types
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
  src/encodings/card/totalizer/mod.rs
  src/encodings/pb/gte/mod.rs
  src/encodings/totdb/cert.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): new cutting planes rules in veripb 3
  data/lower_rhs.opb
  data/normalized_mir_cut.opb
  data/variable_form_division.opb
  data/variable_form_mir_cut.opb
  pigeons/src/keywords.rs
  pigeons/src/ops.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): more veripb3 convenience rules
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): support reified constraints
  .config/lingo.dic
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

Path conditions:
  cargo-check: any of: (.+\.rs|.*Cargo.(toml|lock))$
  cargo-fmt: any of: src/.+\.rs$
  cargo-spellcheck: any of: (.+\.rs|docs/.+\.md)$
