Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

refactor: use veripb reification notation
  pigeons/src/lib.rs
  src/encodings/totdb/cert.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): derivation helper macro
  pigeons/src/macros.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor: use pigeons derivation macro
  src/encodings/card/totalizer/mod.rs
  src/encodings/pb/gte/mod.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): add helper type for mixing variable types
  pigeons/src/lib.rs
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): add ability to get IDs of order constraints in order proofs and scopes
  .config/lingo.dic
  pigeons/src/guards.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): allow users to wrap order variables at own risk
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): support enumeration conclusions
  pigeons/src/keywords.rs
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(formatting): setup rustfmt to split imports
  flake/treefmt.nix
  rustfmt.toml
Due: none

chore(formatting): setup rustfmt to split imports (#753)
  flake/treefmt.nix
  rustfmt.toml
Due: none

chore: update dev environment
  flake.lock
  flake/basics.nix
  rust-toolchain.toml
Due: none

chore: clippy
  Cargo.lock
  pigeons/src/lib.rs
  pyapi/src/lib.rs
  solvertests/Cargo.toml
  src/encodings/card/totalizer/mod.rs
  src/encodings/nodedb.rs
  src/encodings/pb/dpw/mod.rs
  src/encodings/pb/gte/mod.rs
  src/encodings/totdb/cert.rs
  src/encodings/totdb/mod.rs
  src/instances/fio/dimacs.rs
  src/instances/opt.rs
  tools/src/encodings/knapsack.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update minimal Cargo.lock
  Cargo.lock.minimal
Due: none

fix(pyapi): nix derivation
  flake/pyapi.nix
Due: none

fix: minimal dependencies
  Cargo.lock.minimal
  codegen/Cargo.toml
Due: cargo-check

chore: update dev environment (#754)
  Cargo.lock
  Cargo.lock.minimal
  codegen/Cargo.toml
  flake.lock
  flake/basics.nix
  flake/pyapi.nix
  pigeons/src/lib.rs
  pyapi/src/lib.rs
  rust-toolchain.toml
  solvertests/Cargo.toml
  src/encodings/card/totalizer/mod.rs
  src/encodings/nodedb.rs
  src/encodings/pb/dpw/mod.rs
  src/encodings/pb/gte/mod.rs
  src/encodings/totdb/cert.rs
  src/encodings/totdb/mod.rs
  src/instances/fio/dimacs.rs
  src/instances/opt.rs
  tools/src/encodings/knapsack.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(devshell): update flake inputs again for fixed cargo-semver-checks
  flake.lock
Due: none

fix(devshell): update flake inputs again for fixed cargo-semver-checks (#756)
  flake.lock
Due: none

feat(gte): `build_structure` method to ensure all inputs are included
  src/encodings/pb/gte/mod.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

test(pigeons): more test coverage from veripb examples
  data/delete_core_subproof_proofgoal.opb
  data/deletion_find.opb
  data/deletion_multiple_core.opb
  data/derived.opb
  data/dominance_simple_order.opb
  data/objective_update.opb
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(pigeons): abstract keywords
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/ops.rs
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix!(pigeons): remove incorrect substitution rule
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor!(pigeons): remove `short-keywords` features
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): version 3 syntax for existing functionality
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): `pbc` rule
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): permutation and constraints output types
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
  src/encodings/card/totalizer/mod.rs
  src/encodings/pb/gte/mod.rs
  src/encodings/totdb/cert.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): new cutting planes rules in veripb 3
  data/lower_rhs.opb
  data/normalized_mir_cut.opb
  data/variable_form_division.opb
  data/variable_form_mir_cut.opb
  pigeons/src/keywords.rs
  pigeons/src/ops.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): more veripb3 convenience rules
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(pigeons): require specification of variable to weaken
  pigeons/src/ops.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: clean up veripb examples
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-spellcheck

refactor(pigeons): change traits to have associated types
  cadical/Cargo.toml
  cadical/src/prooftracer.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
  src/instances/opt.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(pigeons): guard-based API for subproofs
  pigeons/src/guards.rs
  pigeons/src/lib.rs
  pigeons/src/macros.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(pigeons): guard-based API for orders
  pigeons/src/guards.rs
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/macros.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): support for orders with auxiliary variables
  data/dominance_with_aux_vars.opb
  pigeons/README.md
  pigeons/src/guards.rs
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/macros.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): support reified constraints
  .config/lingo.dic
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/macros.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck
