Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

cargo-check:
  name: Check cargo workspace
  description: Check the cargo workspace for errors
  entry: cargo check --workspace
  language: system
  pass_filenames: false

cargo-fmt:
  name: Format cargo workspace
  description: Format the cargo workspace
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-spellcheck:
  name: Spellchecking documentation
  entry: cargo spellcheck --code 1
  language: system

fix(tests): fix tests
  cadical/.gitignore
  pidgeons/tests/veripb_examples.rs
  src/encodings/card/dbtotalizer.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: clippy lints and spellchecking
  .config/abbreviations.dic
  .config/lingo.dic
  cadical/build.rs
  cadical/src/lib.rs
  cadical/src/tracer.rs
  pidgeons/src/lib.rs
  pidgeons/src/types.rs
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor: fix `pigeons` spelling
  .github/workflows/docs.yml
  .github/workflows/pigeons.yml
  .github/workflows/semver-checks.yml
  Cargo.lock
  Cargo.toml
  cadical/Cargo.toml
  cadical/src/tracer.rs
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/data
  pigeons/src/lib.rs
  pigeons/src/ops.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
  release-plz.toml
  src/encodings.rs
  src/encodings/card/cert.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/pb/cert.rs
  src/encodings/pb/dbgte.rs
  src/encodings/totdb/cert.rs
  src/instances/opt.rs
  src/types.rs
  src/types/constraints.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(ci): install veripb for testing
  .github/workflows/pigeons.yml
  .github/workflows/rustsat.yml
Due: none

feat(kissat): add kissat version 4.0.2
  kissat/Cargo.toml
  kissat/build-all.sh
  kissat/build.rs
  kissat/test-all.sh
Due: cargo-check, cargo-spellcheck

chore(deps): update `rand` to 0.9.0
  Cargo.lock
  Cargo.toml
  src/instances.rs
  src/instances/opt.rs
  src/instances/sat.rs
  tools/src/encodings/knapsack.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(deps): update `nom` to 8.0.0
  Cargo.lock
  Cargo.toml
  src/instances/fio/dimacs.rs
  src/instances/fio/opb.rs
  tools/src/encodings/assignment.rs
  tools/src/encodings/cnf/clustering.rs
  tools/src/encodings/facilitylocation.rs
  tools/src/encodings/knapsack.rs
  tools/src/parsing.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(capi/pyapi): use fxhash
  capi/Cargo.toml
  pyapi/Cargo.toml
Due: cargo-check

docs(pigeons): fix links and extend docs
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(ci): exclude veripb tests on windows
  .github/workflows/pigeons.yml
  .github/workflows/rustsat.yml
  pigeons/tests/veripb_examples.rs
  src/encodings/totdb/cert.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs(pigeons): update readme
  pigeons/README.md
  scripts/update-readmes.sh
Due: none

fix(ci): install nextest for veripb
  .github/workflows/pigeons.yml
Due: none

fix(rustsat): duplicate module name with kani
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fixup! fix(ci): install veripb for testing
  .github/workflows/pigeons.yml
  .github/workflows/rustsat.yml
Due: none

fix(rustsat): remove dead code
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fixup! fix(rustsat): duplicate module name with kani
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(devenv): update flake setup
  flake.lock
  flake.nix
  shell.nix
  tools/default.nix
Due: none

amend! fix(ci): exclude veripb tests on windows
  .github/workflows/pigeons.yml
  .github/workflows/rustsat.yml
  pigeons/tests/veripb_examples.rs
  src/encodings/totdb/cert.rs
  tests/card_encodings.rs
  tests/external_solver.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(devenv): add veripb to devenv
  flake.lock
  flake.nix
Due: none

fix(encodings): dpw reserve don't build unnecessary structure
  src/encodings/pb/dpw.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(cadical): version 2.1.3 with native propagate
  cadical/Cargo.toml
  cadical/README.md
  cadical/build-all.sh
  cadical/build.rs
  cadical/cppsrc/cadical_extension.hpp
  cadical/cppsrc/ccadical_extension.cpp
  cadical/cppsrc/ccadical_extension.h
  cadical/cppsrc/solver_extension.cpp
  cadical/patches/v213.patch
  cadical/src/lib.rs
  cadical/test-all.sh
  solvertests/src/unit.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

test(opb): simplify constraint initialization
  tests/opb.rs
Due: cargo-check, cargo-spellcheck

!!WIP opb winnow parser
  Cargo.lock
  Cargo.toml
  src/instances/fio.rs
  src/instances/fio/opb.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types.rs
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(fio): rewrite OPB parsers in `winnow`
  Cargo.lock
  Cargo.toml
  src/instances/fio.rs
  src/instances/fio/opb.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types.rs
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(fio): OPB iterator parser
  src/instances/fio.rs
  src/instances/fio/opb.rs
  src/instances/multiopt.rs
  src/instances/sat.rs
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fixup! refactor(fio): rewrite OPB parsers in `winnow`
  src/instances/fio/opb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

!!WIP dimacs parser rewrite
  src/instances/fio.rs
  src/instances/fio/dimacs.rs
  src/instances/sat.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

Add optional serde support
  rustsat/Cargo.toml
  rustsat/src/instances/sat.rs
  rustsat/src/types.rs
  rustsat/src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: optional serde support
  Cargo.lock
  Cargo.toml
  README.md
  src/encodings/am1/bimander.rs
  src/encodings/am1/bitwise.rs
  src/encodings/am1/commander.rs
  src/encodings/am1/ladder.rs
  src/encodings/am1/pairwise.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/card/simulators.rs
  src/encodings/card/totalizer.rs
  src/encodings/nodedb.rs
  src/encodings/pb/adder.rs
  src/encodings/pb/dbgte.rs
  src/encodings/pb/dpw.rs
  src/encodings/pb/gte.rs
  src/encodings/pb/simulators.rs
  src/instances.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/lib.rs
  src/types.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(tools): improve enumerator
  tools/src/bin/enumerator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

Path conditions:
  cargo-check: any of: (.+\.rs|.*Cargo.(toml|lock))$
  cargo-fmt: any of: src/.+\.rs$
  cargo-spellcheck: any of: (.+\.rs|docs/.+\.md)$
