Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

fix(pigeons): remove unnecessary space in rup without hints
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(pigeons): remove unnecessary space in rup without hints (#426)
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: flake update
  flake.lock
  flake.nix
Due: none

chore: setup treefmt and format
  .github/labeler.yml
  .github/runner/cache.sh
  .github/runner/docker-compose.yml
  .github/runner/start.sh
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/non-linux.yml
  .github/workflows/pages.yml
  .github/workflows/pyapi.yml
  .github/workflows/release-plz.yml
  .github/workflows/semver-checks.yml
  capi/examples/capi.cpp
  data/auctions_wt-cat_sched_60_70_0003.txt.wcnf
  flake.lock
  flake.nix
  glucose/cppsrc/CMakeLists.txt
  minisat/cppsrc/CMakeLists.txt
  scripts/setup-capi-tests.sh
  tools/default.nix
Due: none

chore(ci): use trusted publishing for crates.io
  .github/workflows/release-plz.yml
Due: none

chore(ci): use trusted publishing for crates.io (#434)
  .github/workflows/release-plz.yml
Due: none

fix(encodings): totdb only reserve variables the connection needs
  capi/tests/dpw-reserve.c
  codegen/src/main.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb/dpw.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(encodings): totdb only reserve variables the connection needs (#435)
  capi/tests/dpw-reserve.c
  codegen/src/main.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb/dpw.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(ci): test-coverage with external solver
  justfile
Due: none

feat(solvers): incremental solver simulator
  src/solvers.rs
  src/solvers/simulators.rs
  tests/external_solver.rs
  tests/solver_simulators.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update git-cliff changelog format
  cliff.toml
Due: none

chore(ci): delete rust target dir before cache restore
  .github/runner/cache.sh
Due: none

chore: update git-cliff changelog format (#437)
  cliff.toml
Due: none

chore(ci): delete rust target dir before cache restore (#438)
  .github/runner/cache.sh
Due: none

chore: remove statistics from git-cliff changelog
  cliff.toml
Due: none

feat(cadical): user propagators via ipasir-up
  cadical/build.rs
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/cipasirup.cpp
  cadical/cpp-extension/cipasirup.h
  cadical/src/ffi.rs
  cadical/src/ipasirup.rs
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update rust version and dev env
  .github/runner/Dockerfile
  flake.lock
  rust-toolchain.toml
Due: none

chore: clippy
  capi/src/encodings/pb.rs
  codegen/templates/capi-pb.rs.j2
  src/instances/fio/opb.rs
  src/instances/opt.rs
  src/instances/sat.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: fix reference doi and pages
  README.md
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: fix reference doi and pages (#442)
  README.md
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

cleanup changelog
  CHANGELOG.md
  batsat/CHANGELOG.md
  tools/CHANGELOG.md
Due: none

feat: `From<Vec<Lit>>` for `Clause`
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(cadical): user propagators via ipasir-up
  cadical/build.rs
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/cipasirup.cpp
  cadical/cpp-extension/cipasirup.h
  cadical/src/ffi.rs
  cadical/src/ffi/ipasirup.rs
  cadical/src/ffi/prooftracer.rs
  cadical/src/ipasirup.rs
  cadical/src/lib.rs
  cadical/src/prooftracer.rs
  cadical/tests/ipasirup.rs
  data/prime121.cnf
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): switch CI to nix
  .github/actionlint.yaml
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
  Cargo.lock
  codegen/Cargo.toml
  codegen/default.nix
  codegen/src/main.rs
  codegen/templates/capi-am1-test-basic.c.j2
  codegen/templates/capi-am1-test-drop.c.j2
  codegen/templates/capi-card-test-basic.c.j2
  codegen/templates/capi-card-test-drop.c.j2
  codegen/templates/capi-card-test-reserve.c.j2
  codegen/templates/capi-pb-test-basic.c.j2
  codegen/templates/capi-pb-test-drop.c.j2
  codegen/templates/capi-pb-test-reserve.c.j2
  flake.lock
  flake.nix
  justfile
  result
  tools/default.nix
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): fix labeler permissions
  .github/workflows/labeler.yml
  result
Due: none

chore(tests): make paths relative to cargo manifest
  tests/compression.rs
  tests/maxsat.rs
  tests/pb_encodings.rs
  tools/src/encodings/assignment.rs
  tools/src/encodings/facilitylocation.rs
  tools/src/encodings/knapsack.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(codegen): add newlines at end of templates
  codegen/templates/capi-am1-test-basic.c.j2
  codegen/templates/capi-am1-test-drop.c.j2
  codegen/templates/capi-card-test-basic.c.j2
  codegen/templates/capi-card-test-drop.c.j2
  codegen/templates/capi-card-test-reserve.c.j2
  codegen/templates/capi-pb-test-basic.c.j2
  codegen/templates/capi-pb-test-drop.c.j2
  codegen/templates/capi-pb-test-reserve.c.j2
Due: none

chore(codegen): add --check option
  Cargo.lock
  codegen/Cargo.toml
  codegen/src/main.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): switch CI to nix
  .github/actionlint.yaml
  .github/labeler.yml
  .github/runner/Dockerfile
  .github/runner/cache.sh
  .github/runner/docker-compose.yml
  .github/runner/start.sh
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/release-plz.yml
  .github/workflows/semver-checks.yml
  .gitignore
  flake.lock
  flake.nix
  justfile
  pyapi/default.nix
  pyapi/doc.nix
  result
  tools/default.nix
Due: none

chore(ci): skip mosts checks on draft PRs
  .github/workflows/ci.yml
Due: none

chore(ci): skip mosts checks on draft PRs (#454)
  .github/workflows/ci.yml
Due: none

fix: abstract timer and use `std::time::Instant` in `wasm`
  Cargo.lock
  batsat/Cargo.toml
  batsat/src/lib.rs
  cadical/Cargo.toml
  cadical/src/lib.rs
  glucose/Cargo.toml
  glucose/src/core.rs
  glucose/src/simp.rs
  ipasir/Cargo.toml
  ipasir/src/lib.rs
  kissat/Cargo.toml
  kissat/src/lib.rs
  minisat/Cargo.toml
  minisat/src/core.rs
  minisat/src/simp.rs
  src/solvers/simulators.rs
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): check wasm compatibility
  .github/workflows/ci.yml
  flake.nix
Due: none

fix: change timers from process time to thread time
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update to pyo3 0.26.0
  Cargo.lock
  pyapi/Cargo.toml
Due: cargo-check

fix(wasm): optional web-time for timing
  Cargo.lock
  Cargo.toml
  batsat/Cargo.toml
  flake.nix
  src/lib.rs
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(wasm): use `web-time` for timing measurement on `wasm`
  Cargo.lock
  Cargo.toml
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(wasm): use `web-time` for timing measurement on `wasm` (#467)
  Cargo.lock
  Cargo.toml
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(encodings): optional support for pindakaas encodings
  Cargo.lock
  Cargo.toml
  src/encodings.rs
  src/encodings/am1.rs
  src/encodings/am1/pindakaas.rs
  src/encodings/card.rs
  src/encodings/card/pindakaas.rs
  src/encodings/pb.rs
  src/encodings/pb/pindakaas.rs
  src/encodings/pindakaas.rs
  tests/am1_encodings.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck
