Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

chore(ci): update dev env and `release-plz` trusted publishing
  .github/workflows/release-plz.yml
  flake.lock
Due: none

chore(ci): update dev env and `release-plz` trusted publishing (#479)
  .github/workflows/release-plz.yml
  flake.lock
Due: none

fix(am1): duplicate literals
  src/encodings/am1.rs
  src/encodings/am1/bimander.rs
  src/encodings/am1/bitwise.rs
  src/encodings/am1/commander.rs
  src/encodings/am1/ladder.rs
  src/encodings/am1/pairwise.rs
  tests/am1_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

test(encodings): fuzzers
  Cargo.lock
  Cargo.toml
  codegen/src/main.rs
  codegen/templates/fuzz-am1.rs.j2
  codegen/templates/fuzz-cargo.toml.j2
  flake.nix
  fuzz/.gitignore
  fuzz/Cargo.toml
  fuzz/fuzz_targets/bimander.rs
  fuzz/fuzz_targets/bitwise.rs
  fuzz/fuzz_targets/commander.rs
  fuzz/fuzz_targets/ladder.rs
  fuzz/fuzz_targets/pairwise.rs
  fuzz/src/lib.rs
  justfile
Due: cargo-check, cargo-fmt, cargo-spellcheck

tests(am1): cleanup and increase coverage
  tests/am1_encodings.rs
Due: cargo-check, cargo-spellcheck

tests(am1): cleanup and increase coverage (#483)
  tests/am1_encodings.rs
Due: cargo-check, cargo-spellcheck

feat(cadical): user propagators via ipasir-up
  cadical/build.rs
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/cipasirup.cpp
  cadical/cpp-extension/cipasirup.h
  cadical/src/ffi.rs
  cadical/src/ffi/ipasirup.rs
  cadical/src/ffi/prooftracer.rs
  cadical/src/ipasirup.rs
  cadical/src/lib.rs
  cadical/src/prooftracer.rs
  cadical/tests/ipasirup.rs
  data/prime121.cnf
Due: cargo-check, cargo-fmt, cargo-spellcheck

update lockfile
  Cargo.lock
Due: cargo-check

tests(encodings): fuzzing setup with afl
  .envrc
  codegen/Cargo.toml
  codegen/src/main.rs
  codegen/templates/fuzz-am1.rs.j2
  codegen/templates/fuzz-card.rs.j2
  codegen/templates/fuzz-cargo.toml.j2
  flake.lock
  flake.nix
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/bimander.rs
  fuzz/fuzz_targets/bitwise.rs
  fuzz/fuzz_targets/commander.rs
  fuzz/fuzz_targets/ladder.rs
  fuzz/fuzz_targets/pairwise.rs
  fuzz/fuzz_targets/totalizer.rs
  fuzz/justfile
  fuzz/slurm-scripts/am1.sh
  fuzz/slurm-scripts/card.sh
  fuzz/src/lib.rs
  rust-toolchain.toml
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update dev env and dev rust version
  flake.lock
  rust-toolchain.toml
Due: none

chore(treewide): clippy
  cadical/src/lib.rs
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

tests(rustsat): test invalid var deserialization
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: include keep-sorted formatter
  Cargo.toml
  batsat/Cargo.toml
  cadical/Cargo.toml
  capi/Cargo.toml
  clippy.toml
  codegen/Cargo.toml
  flake.nix
  glucose/Cargo.toml
  ipasir/Cargo.toml
  justfile
  kissat/Cargo.toml
  minisat/Cargo.toml
  pigeons/Cargo.toml
  pyapi/Cargo.toml
  solvertests/Cargo.toml
Due: cargo-check

chore: add cargo-deny
  .github/workflows/ci.yml
  deny.toml
  flake.nix
  justfile
Due: none

chore(tests): use new veripb
  data/single-card-eq.opb
  flake.lock
  flake.nix
Due: none

refactor: clearly mark internal features
  Cargo.toml
  README.md
  batsat/Cargo.toml
  cadical/Cargo.toml
  capi/Cargo.toml
  codegen/Cargo.toml
  flake.nix
  glucose/Cargo.toml
  ipasir/Cargo.toml
  justfile
  kissat/Cargo.toml
  minisat/Cargo.toml
  pigeons/Cargo.toml
  pyapi/Cargo.toml
  solvertests/Cargo.toml
  src/encodings.rs
  src/encodings/card/totalizer.rs
  src/encodings/nodedb.rs
  src/encodings/pb/adder.rs
  src/encodings/pb/dpw.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb.rs
  src/encodings/totdb/cert.rs
  src/instances/fio/dimacs.rs
  src/instances/fio/opb.rs
  src/lib.rs
  src/utils.rs
  tools/Cargo.toml
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): generate changelogs for C and Python API
  .github/workflows/release-plz.yml
  flake.nix
Due: none

chore(ci): generate changelogs for C and Python API (#490)
  .github/workflows/release-plz.yml
  flake.nix
Due: none

fix(ci): changelogs for C and Python API
  .github/workflows/release-plz.yml
Due: none

doc(solvers): add note to make external solver non-verbose
  src/solvers/external.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(solvers): deadlock in external solver
  .config/nextest.toml
  data/gimsatul-deadlock.cnf
  src/solvers/external.rs
  tests/external_solver.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): ignore commit hash links in typo checking
  _typos.toml
Due: none

chore(ci): ignore commit hash links in typo checking (#493)
  _typos.toml
Due: none

fix(ci): auto cfg in documentation
  cadical/src/lib.rs
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(ci): auto cfg in documentation (#497)
  cadical/src/lib.rs
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

Squashed 'kissat/csrc/' changes from 77bc7ea6..8af8e56f
  LICENSE
  NEWS.md
  VERSION
  src/congruence.c
  src/factor.c
  src/kitten.c
  src/options.h
Due: none

feat(kissat): version 4.0.4
  kissat/Cargo.toml
  kissat/README.md
  kissat/build.rs
  kissat/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: `AsRef<Cl>` for `[Lit; N]`, `Vec`, and `Cl`
  glucose/src/core.rs
  glucose/src/simp.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: `AsRef<Cl>` for `[Lit; N]`, `Vec`, and `Cl` (#499)
  glucose/src/core.rs
  glucose/src/simp.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

manual fixup of release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  batsat/CHANGELOG.md
  cadical/CHANGELOG.md
  capi/CHANGELOG.md
  capi/rustsat.h
  glucose/CHANGELOG.md
  ipasir/CHANGELOG.md
  kissat/CHANGELOG.md
  minisat/CHANGELOG.md
  pigeons/CHANGELOG.md
  pigeons/Cargo.toml
  pyapi/CHANGELOG.md
  tools/CHANGELOG.md
Due: cargo-check

fix non-linux ci
  .github/workflows/non-linux.yml
Due: none

fix(ci): non-linux ci
  .github/workflows/non-linux.yml
Due: none

fix(ci): non-linux ci (#502)
  .github/workflows/non-linux.yml
Due: none

docs(capi+pyapi): generate changelog
  capi/CHANGELOG.md
  pyapi/CHANGELOG.md
Due: none

fix(ci): capi/pyapi changelog generation
  .github/workflows/release-plz.yml
Due: none

fix msrv checks
  .github/workflows/non-linux.yml
  flake.nix
Due: none

chore(pyapi): update pyo3 to 0.27.1
  Cargo.lock
  pyapi/Cargo.toml
Due: cargo-check

chore(pyapi): update pyo3 to 0.27.1 (#510)
  Cargo.lock
  pyapi/Cargo.toml
Due: cargo-check

refactor: specify new solver interface API
  solvertests/src/lib.rs
  solvertests/src/unit.rs
  src/lib.rs
  src/solvers.rs
  src/solvers/sat.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck
