Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

cargo-check:
  name: Check cargo workspace
  description: Check the cargo workspace for errors
  entry: cargo check --workspace
  language: system
  pass_filenames: false

cargo-fmt:
  name: Format cargo workspace
  description: Format the cargo workspace
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-spellcheck:
  name: Spellchecking documentation
  entry: cargo spellcheck --code 1
  language: system

chore(deps): remove `atty` dependency
  Cargo.lock
  Cargo.toml
  tools/Cargo.toml
  tools/src/bin/gbmosplit.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(tools): improve enumerator
  tools/src/bin/enumerator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: manual release tasks
  CHANGELOG.md
  Cargo.lock
  capi/Cargo.toml
  capi/rustsat.h
  pyapi/Cargo.toml
Due: cargo-check

doc: fix `Ladder` reference venue
  .config/abbreviations.dic
  clippy.toml
  src/encodings/am1/ladder.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

doc: fix `Bitwise` reference
  src/encodings/am1/bitwise.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(tools): limit number of enumerated solutions in enumerator
  tools/src/bin/enumerator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(cadical): index out of bounds error in old propagate
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(treewide): remove submodules
  .github/workflows/docs.yml
  .github/workflows/glucose.yml
  .github/workflows/kissat.yml
  .github/workflows/minisat.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/rustsat.yml
  .github/workflows/semver-checks.yml
  .github/workflows/tools.yml
  .gitmodules
Due: none

Squashed 'minisat/cppsrc/' content from commit 7b764e3
  .gitignore
  CMakeLists.txt
  LICENSE
  README
  doc/ReleaseNotes-2.2.0.txt
  minisat/cminisat.cc
  minisat/cminisat.h
  minisat/core/Dimacs.h
  minisat/core/Main.cc
  minisat/core/Solver.cc
  minisat/core/Solver.h
  minisat/core/SolverTypes.h
  minisat/mtl/Alg.h
  minisat/mtl/Alloc.h
  minisat/mtl/Heap.h
  minisat/mtl/IntMap.h
  minisat/mtl/IntTypes.h
  minisat/mtl/Map.h
  minisat/mtl/Queue.h
  minisat/mtl/Rnd.h
  minisat/mtl/Sort.h
  minisat/mtl/Vec.h
  minisat/mtl/XAlloc.h
  minisat/simp/Main.cc
  minisat/simp/SimpSolver.cc
  minisat/simp/SimpSolver.h
  minisat/utils/Options.cc
  minisat/utils/Options.h
  minisat/utils/ParseUtils.h
  minisat/utils/StreamBuffer.h
  minisat/utils/System.cc
  minisat/utils/System.h
Due: none

docs(kissat): details on downloading at compile time
  kissat/README.md
  kissat/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(cadical): prepare for subtree inclusion
  cadical/Cargo.toml
  cadical/build.rs
  cadical/cpp-extension/cadical_extension.hpp
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/ccadical_extension.h
  cadical/cpp-extension/dummy-ccadical.h
  cadical/cpp-extension/solver_extension.cpp
Due: cargo-check, cargo-spellcheck

chore(cadical): apply modifications
  cadical/cppsrc/src/cadical.hpp
  cadical/cppsrc/src/ccadical.cpp
  cadical/cppsrc/src/ccadical.h
  cadical/cppsrc/src/solver.cpp
Due: none

feat(cadical): include source for newest version
  cadical/Cargo.toml
  cadical/README.md
  cadical/build.rs
  cadical/cpp-extension/dummy-ccadical.h
  cadical/src/lib.rs
  cadical/test-all.sh
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(tools): fix nix derivation
  tools/default.nix
Due: none

chore(minisat): fix trailing whitespace
  minisat/cppsrc/CMakeLists.txt
  minisat/cppsrc/doc/ReleaseNotes-2.2.0.txt
  minisat/cppsrc/minisat/core/Main.cc
  minisat/cppsrc/minisat/core/Solver.cc
  minisat/cppsrc/minisat/core/Solver.h
  minisat/cppsrc/minisat/core/SolverTypes.h
  minisat/cppsrc/minisat/mtl/Alloc.h
  minisat/cppsrc/minisat/mtl/Heap.h
  minisat/cppsrc/minisat/mtl/IntMap.h
  minisat/cppsrc/minisat/mtl/Map.h
  minisat/cppsrc/minisat/simp/Main.cc
  minisat/cppsrc/minisat/simp/SimpSolver.cc
  minisat/cppsrc/minisat/simp/SimpSolver.h
  minisat/cppsrc/minisat/utils/Options.cc
  minisat/cppsrc/minisat/utils/Options.h
  minisat/cppsrc/minisat/utils/ParseUtils.h
  minisat/cppsrc/minisat/utils/System.cc
Due: none

chore(glucose): fix trailing whitespace
  glucose/cppsrc/Changelog
  glucose/cppsrc/LICENCE
  glucose/cppsrc/core/BoundedQueue.h
  glucose/cppsrc/core/Constants.h
  glucose/cppsrc/core/Solver.cc
  glucose/cppsrc/core/Solver.h
  glucose/cppsrc/core/SolverStats.h
  glucose/cppsrc/core/SolverTypes.h
  glucose/cppsrc/core/lcm.cc
  glucose/cppsrc/mtl/Alloc.h
  glucose/cppsrc/mtl/Clone.h
  glucose/cppsrc/mtl/Heap.h
  glucose/cppsrc/mtl/Map.h
  glucose/cppsrc/mtl/Queue.h
  glucose/cppsrc/mtl/Vec.h
  glucose/cppsrc/mtl/VecThreads.h
  glucose/cppsrc/mtl/template.mk
  glucose/cppsrc/parallel/ClausesBuffer.cc
  glucose/cppsrc/parallel/ClausesBuffer.h
  glucose/cppsrc/parallel/Main.cc
  glucose/cppsrc/parallel/MultiSolvers.cc
  glucose/cppsrc/parallel/MultiSolvers.h
  glucose/cppsrc/parallel/ParallelSolver.cc
  glucose/cppsrc/parallel/ParallelSolver.h
  glucose/cppsrc/parallel/SharedCompanion.cc
  glucose/cppsrc/parallel/SharedCompanion.h
  glucose/cppsrc/parallel/SolverCompanion.cc
  glucose/cppsrc/parallel/SolverCompanion.h
  glucose/cppsrc/parallel/SolverConfiguration.cc
  glucose/cppsrc/parallel/SolverConfiguration.h
  glucose/cppsrc/simp/Main.cc
  glucose/cppsrc/simp/SimpSolver.cc
  glucose/cppsrc/simp/SimpSolver.h
  glucose/cppsrc/simp/glucose
  glucose/cppsrc/utils/Options.cc
  glucose/cppsrc/utils/Options.h
  glucose/cppsrc/utils/ParseUtils.h
Due: none

chore: nix pre-commit hooks
  .gitignore
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  tools/default.nix
Due: none

chore: add git subtree helper to dev shell
  flake.nix
Due: none

tests(ci): run flake checks in github actions
  .github/workflows/nix-github-actions.yml
  flake.lock
  flake.nix
Due: none

chore: update rust version to 1.85.0
  rust-toolchain.toml
Due: none

chore(treewide): cargo fmt
  src/encodings/am1/bimander.rs
  src/encodings/am1/commander.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(treewide): cargo clippy
  capi/src/encodings.rs
  src/encodings/pb/dpw.rs
  src/encodings/pb/gte.rs
  src/instances/opt.rs
  src/solvers.rs
  src/utils.rs
  tools/src/bin/enumerator.rs
  tools/src/parsing.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: pre-commit hook checking commits to main
  flake.nix
Due: none

chore(ci): generate clippy lints for all crates
  .github/workflows/pr-lints.yml
Due: none

chore(tools): remove variant from clustering encoding
  tools/src/bin/encodings.rs
  tools/src/encodings/cnf/clustering.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: include script for ff merging prs
  flake.nix
Due: none

fixup! fix(rustsat): remove dead code
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: allow inverting and splitting card/PB constraints
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: extending PB constraints to cardinalities
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: certified card/PB constraint encodings
  data/single-card-eq.opb
  data/single-ub.opb
  src/encodings/card/cert.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/card/simulators.rs
  src/encodings/pb/cert.rs
  src/encodings/pb/dbgte.rs
  src/encodings/pb/simulators.rs
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pyapi): include bimander encoding
  pyapi/python/rustsat/encodings/am1/__init__.pyi
  pyapi/src/encodings/am1.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

Path conditions:
  cargo-check: any of: (.+\.rs|.*Cargo.(toml|lock))$
  cargo-fmt: any of: src/.+\.rs$
  cargo-spellcheck: any of: (.+\.rs|docs/.+\.md)$
