Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

fix: derive serde traits for tests
  Cargo.toml
  src/instances.rs
  src/instances/fio/dimacs.rs
  src/instances/fio/opb.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor: nix flake
  flake.nix
  flake/checks.nix
  flake/default.nix
  flake/devshells.nix
  flake/packages.nix
  flake/shared.nix
  flake/treefmt.nix
Due: none

chore: update nix flake
  flake.lock
Due: none

chore: update rust-toolchain
  rust-toolchain.toml
Due: none

chore: clippy fixes
  src/encodings/pb/dpw.rs
  src/encodings/totdb/cert.rs
  src/instances/fio/opb.rs
  src/instances/opt.rs
  tools/src/bin/gbmosplit.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: setup pre-push hooks
  .config/hacks.dic
  codegen/README.md
  codegen/src/main.rs
  codegen/templates/capi-am1-test-basic.c.j2
  codegen/templates/capi-am1-test-drop.c.j2
  codegen/templates/capi-card-test-basic.c.j2
  codegen/templates/capi-card-test-drop.c.j2
  codegen/templates/capi-card-test-reserve.c.j2
  codegen/templates/capi-pb-test-basic.c.j2
  codegen/templates/capi-pb-test-drop.c.j2
  codegen/templates/capi-pb-test-reserve.c.j2
  flake.lock
  flake.nix
  flake/default.nix
  flake/devshells.nix
  flake/githooks.nix
  src/instances/fio/opb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

select `winnow` features
  Cargo.toml
Due: cargo-check

fix(cadical): warning with `v1-5` features
  cadical/src/ffi.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: use clang ASan in tests instead of valgrind
  .github/workflows/ci.yml
  capi/tests/c-tests.rs
  capi/tests/dpw-coarse-convergence.c
  flake.lock
  flake/checks.nix
  flake/devshells.nix
  flake/shared.nix
  justfile
Due: cargo-check, cargo-spellcheck

fix(pyapi): correctly specify default arguments for `__new__` methods
  pyapi/python/rustsat/__init__.pyi
  pyapi/python/rustsat/encodings/am1/__init__.pyi
  pyapi/python/rustsat/encodings/card/__init__.pyi
  pyapi/python/rustsat/encodings/pb/__init__.pyi
  pyapi/src/encodings/am1.rs
  pyapi/src/encodings/card.rs
  pyapi/src/encodings/pb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: setup test recording in flake
  flake/packages.nix
  flake/shared.nix
Due: none

chore: refactor nextest profiles
  .config/nextest.toml
  flake/githooks.nix
Due: none

chore: refactor nextest profiles (#629)
  .config/nextest.toml
  flake/githooks.nix
Due: none

feat(tools/enumerator): evaluate objectives when enumerating
  tools/src/bin/enumerator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(tools/enumerator): evaluate objectives when enumerating (#630)
  tools/src/bin/enumerator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

test(pigeons): more test coverage from veripb examples
  data/delete_core_subproof_proofgoal.opb
  data/deletion_find.opb
  data/deletion_multiple_core.opb
  data/derived.opb
  data/dominance_simple_order.opb
  data/objective_update.opb
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(pigeons): abstract keywords
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/ops.rs
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix!(pigeons): remove incorrect substitution rule
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor!(pigeons): remove `short-keywords` features
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): version 3 syntax for existing functionality
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
  test.elab
  test2.pbp
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): `pbc` rule
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): permutation and constraints output types
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb/cert.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): new cutting planes rules in veripb 3
  data/lower_rhs.opb
  data/normalized_mir_cut.opb
  data/variable_form_division.opb
  data/variable_form_mir_cut.opb
  flake.lock
  pigeons/src/keywords.rs
  pigeons/src/ops.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): more veripb3 convenience rules
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

update gungraun runner and veripb
  flake.lock
Due: none

refactor: make flake dendritic
  .github/workflows/ci.yml
  flake.lock
  flake.nix
  flake/basics.nix
  flake/checks.nix
  flake/ci-shells.nix
  flake/code-quality.nix
  flake/crane.nix
  flake/default.nix
  flake/devshell.nix
  flake/devshells.nix
  flake/doc.nix
  flake/features.nix
  flake/githooks.nix
  flake/msrv.nix
  flake/packages.nix
  flake/pyapi.nix
  flake/shared.nix
  flake/tests.nix
  flake/toolchain.nix
  flake/tools.nix
  flake/treefmt.nix
  flake/wasm.nix
  pyapi/default.nix
  pyapi/doc.nix
  tools/default.nix
Due: none

refactor: make flake dendritic (#659)
  .github/workflows/ci.yml
  flake.lock
  flake.nix
  flake/basics.nix
  flake/checks.nix
  flake/ci-shells.nix
  flake/code-quality.nix
  flake/crane.nix
  flake/default.nix
  flake/devshell.nix
  flake/devshells.nix
  flake/doc.nix
  flake/features.nix
  flake/githooks.nix
  flake/msrv.nix
  flake/packages.nix
  flake/pyapi.nix
  flake/shared.nix
  flake/tests.nix
  flake/toolchain.nix
  flake/tools.nix
  flake/treefmt.nix
  flake/wasm.nix
  pyapi/default.nix
  pyapi/doc.nix
  tools/default.nix
Due: none
