Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

cargo-check:
  name: Check cargo workspace
  description: Check the cargo workspace for errors
  entry: cargo check --workspace
  language: system
  pass_filenames: false

cargo-fmt:
  name: Format cargo workspace
  description: Format the cargo workspace
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-spellcheck:
  name: Spellchecking documentation
  entry: cargo spellcheck --code 1
  language: system

refactor!(pigeons): remove `short-keywords` features
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): version 3 syntax for existing functionality
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
  test.elab
  test2.pbp
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): `pbc` rule
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): permutation and constraints output types
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb/cert.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): more veripb3 convenience rules
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): new cutting planes rules in veripb 3
  data/lower_rhs.opb
  data/normalized_mir_cut.opb
  data/variable_form_division.opb
  data/variable_form_mir_cut.opb
  pigeons/src/keywords.rs
  pigeons/src/ops.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): support for orders with auxiliary variables
  data/dominance_with_aux_vars.opb
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: disable renovate rust-toolchain updates
  renovate.json
Due: none

chore: don't automerge github action updates
  renovate.json
Due: none

feat: impl traits for `std::borrow::Cow<'_, Clause>`
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: clean up renovate config (#693)
  renovate.json
Due: none

feat: impl traits for `std::borrow::Cow<'_, Clause>` (#694)
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

update gungraun runner
  flake.lock
Due: none

test: benches for parsers
  Cargo.toml
  benches/parsers.rs
  data/ftp.mcnf
  data/pre-processing_c_inference_50_54_fq15.wcnf
Due: cargo-check, cargo-spellcheck

fix: `Objective::unweighted_2_weighted` was dropping duplicate softs
  src/instances/opt.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: improve objective normalization
  src/instances/opt.rs
  src/instances/snapshots/rustsat__instances__opt__tests__normalize_duplicate_clause.snap
  src/instances/snapshots/rustsat__instances__opt__tests__normalize_duplicate_lit_soft_clause.snap
  src/instances/snapshots/rustsat__instances__opt__tests__normalize_duplicate_soft_clause_and_lit.snap
  src/instances/snapshots/rustsat__instances__opt__tests__normalize_negated_soft_lit.snap
  src/instances/snapshots/rustsat__instances__opt__tests__normalize_negated_soft_lit_unweighted.snap
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

perf!: improve speed of collecting objectives
  src/instances/fio/snapshots/rustsat__instances__fio__dimacs__tests__multiopt__parse_mcnf_duplication.snap
  src/instances/opt.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update gungraun-runner
  flake.lock
Due: none

fix: update pyo3 to fix security advisory
  Cargo.lock
  pyapi/Cargo.toml
Due: cargo-check

test(pigeons): more test coverage from veripb examples
  data/delete_core_subproof_proofgoal.opb
  data/deletion_find.opb
  data/deletion_multiple_core.opb
  data/derived.opb
  data/dominance_simple_order.opb
  data/objective_update.opb
  pigeons/src/types.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(pigeons): abstract keywords
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/src/ops.rs
  pigeons/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix!(pigeons): remove incorrect substitution rule
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pigeons): version 3 syntax for existing functionality
  pigeons/Cargo.toml
  pigeons/README.md
  pigeons/src/keywords.rs
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
  test.elab
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(pigeons): require specification of variable to weaken
  pigeons/src/ops.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: clean up veripb examples
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-spellcheck

fix: harden github actions with zizmor
  .github/workflows/ci.yml
  .github/workflows/non-linux.yml
  .github/workflows/pages.yml
  .github/workflows/pyapi.yml
  .github/workflows/release-plz.yml
  .github/workflows/semver-checks.yml
Due: none

find minimal required permissions
  .github/workflows/ci.yml
  .github/workflows/non-linux.yml
  .github/workflows/pages.yml
  .github/workflows/semver-checks.yml
Due: none

chore: update dev env and dev rust version
  .envrc
  flake.lock
  flake/basics.nix
  flake/devshell.nix
  rust-toolchain.toml
Due: none

clippy
  src/encodings/pb/dpw.rs
  src/encodings/totdb.rs
  src/instances/opt.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update dev env and dev rust version (#713)
  .envrc
  flake.lock
  flake/basics.nix
  flake/devshell.nix
  rust-toolchain.toml
  src/encodings/pb/dpw.rs
  src/encodings/totdb.rs
  src/instances/opt.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: add `https` feature to `git2`
  Cargo.lock
  cadical/Cargo.toml
  flake/devshell.nix
  kissat/Cargo.toml
Due: cargo-check

fix: add `https` feature to `git2` (#714)
  Cargo.lock
  cadical/Cargo.toml
  flake/devshell.nix
  kissat/Cargo.toml
Due: cargo-check

Path conditions:
  cargo-check: any of: (.+\.rs|.*Cargo.(toml|lock))$
  cargo-fmt: any of: src/.+\.rs$
  cargo-spellcheck: any of: (.+\.rs|docs/.+\.md)$
