Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

feat: implement new solver API for Kissat
  kissat/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: implement new solver API for CaDiCaL
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(cadical): version 2.2.1
  cadical/Cargo.toml
  cadical/README.md
  cadical/build.rs
  cadical/patches/v221.patch
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

basic wepage layout with dodeca
  .config/dodeca.yaml
  .gitignore
  flake.lock
  flake.nix
  webpage/content/_index.md
  webpage/content/guide/_index.md
  webpage/content/guide/architecture.md
  webpage/content/guide/solvers.md
  webpage/public/guide/architecture/index.html
  webpage/public/guide/index.html
  webpage/public/guide/solvers/index.html
  webpage/public/index.html
  webpage/public/js/dodeca.d21add446cd0.js
  webpage/public/main.2224d5ao3d30.css
  webpage/public/pagefind/fragment/en_1b25a26.pf_fragment
  webpage/public/pagefind/fragment/en_465b807.pf_fragment
  webpage/public/pagefind/fragment/en_4731579.pf_fragment
  webpage/public/pagefind/fragment/en_90f6d41.pf_fragment
  webpage/public/pagefind/index/en_929b866.pf_index
  webpage/public/pagefind/pagefind-entry.json
  webpage/public/pagefind/pagefind-highlight.js
  webpage/public/pagefind/pagefind-modular-ui.css
  webpage/public/pagefind/pagefind-modular-ui.js
  webpage/public/pagefind/pagefind-ui.css
  webpage/public/pagefind/pagefind-ui.js
  webpage/public/pagefind/pagefind.en_34c91083bb.pf_meta
  webpage/public/pagefind/pagefind.js
  webpage/public/pagefind/wasm.en.pagefind
  webpage/public/pagefind/wasm.unknown.pagefind
  webpage/sass/main.scss
  webpage/static/js/dodeca.js
  webpage/target/rust-analyzer/flycheck0/stderr
  webpage/target/rust-analyzer/flycheck0/stdout
  webpage/templates/base.html
  webpage/templates/index.html
  webpage/templates/page.html
  webpage/templates/section.html
Due: none

feat(cadical): environment variables to control cxx-compiler features
  cadical/README.md
  cadical/build.rs
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: don't silently fail on environment variable error
  cadical/build.rs
  kissat/build.rs
Due: cargo-check, cargo-spellcheck

fix(ci): spellchecking checks
  .config/abbreviations.dic
  .config/names.dic
  flake.nix
Due: none

docs(cadical): document windows cross compilation
  cadical/README.md
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update dev env
  flake.lock
  flake.nix
Due: none

chore: update dev env (#581)
  flake.lock
  flake.nix
Due: none

chore: force changelog section order
  cliff.toml
Due: none

chore: fix git-cliff bumps
  cliff.toml
Due: none

chore: improve git-cliff config for less manual fixup on release (#582)
  cliff.toml
Due: none

manual changelog fixup
  CHANGELOG.md
Due: none

chore: update msrv to 1.87.0
  Cargo.toml
  README.md
  cadical/Cargo.toml
  cadical/README.md
  cadical/build.rs
  cadical/src/lib.rs
  flake.nix
  glucose/build.rs
  glucose/src/core.rs
  glucose/src/simp.rs
  kissat/Cargo.toml
  kissat/README.md
  kissat/build.rs
  kissat/src/lib.rs
  minisat/build.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  src/encodings/nodedb.rs
  src/encodings/totdb/cert.rs
  src/lib.rs
  src/types/constraints.rs
  tests/external_solver.rs
  tools/Cargo.toml
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(deps): update to bzip2 to 0.6
  Cargo.lock
  Cargo.toml
  deny.toml
Due: cargo-check

chore(cadical)!: only keep newest patch releases for each minor
  cadical/Cargo.toml
  cadical/build.rs
  cadical/cpp-extension/cadical_extension.hpp
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/ccadical_extension.h
  cadical/cpp-extension/ctracer.cpp
  cadical/cpp-extension/solver_extension.cpp
  cadical/patches/v150.patch
  cadical/patches/v154.patch
  cadical/patches/v170.patch
  cadical/patches/v190.patch
  cadical/patches/v210.patch
  cadical/patches/v211.patch
  cadical/patches/v220.patch
  cadical/src/ffi.rs
  cadical/src/lib.rs
  cadical/tests/flipping.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor(fio)!: rewrite OPB parsers in `winnow`
  Cargo.lock
  Cargo.toml
  src/instances/fio.rs
  src/instances/fio/opb.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types.rs
  src/utils.rs
  tools/src/bin/check-solution.rs
  tools/src/bin/enumerator.rs
  tools/src/bin/gbmosplit.rs
  tools/src/bin/mo2ilp.rs
  tools/src/bin/propagator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(fio): OPB iterator parser
  Cargo.lock
  Cargo.toml
  data/tiny-multiopt.opb
  flake.nix
  src/instances/fio.rs
  src/instances/fio/opb.rs
  src/instances/fio/snapshots/rustsat__instances__fio__opb__test__multi_opb_data_fail.snap
  src/instances/fio/snapshots/rustsat__instances__fio__opb__test__multi_opb_data_optimization_pass.snap
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/instances/snapshots/rustsat__instances__fio__tests__parsing_error_format.snap
  src/types.rs
  tests/opb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor!: dimacs parser rewrite
  src/instances/fio.rs
  src/instances/fio/dimacs.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types/constraints.rs
  tools/src/bin/check-solution.rs
  tools/src/bin/enumerator.rs
  tools/src/bin/mo2ilp.rs
  tools/src/bin/propagator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor!: custom error types instead of anyhow
  Cargo.lock
  Cargo.toml
  src/instances.rs
  src/instances/fio.rs
  src/instances/multiopt.rs
  src/instances/opt.rs
  src/instances/sat.rs
  src/types.rs
  tools/src/bin/gbmosplit.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

refactor: migrate `rustsat-tools` parsers to `winnow`
  Cargo.lock
  src/instances/fio.rs
  tools/Cargo.toml
  tools/src/encodings/assignment.rs
  tools/src/encodings/cnf/clustering.rs
  tools/src/encodings/facilitylocation.rs
  tools/src/encodings/knapsack.rs
  tools/src/parsing.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: specify new solver interface API
  solvertests/src/lib.rs
  solvertests/src/unit.rs
  src/lib.rs
  src/solvers.rs
  src/solvers/sat.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: implement new solver API for Minisat
  Cargo.lock
  minisat/src/core.rs
  minisat/src/lib.rs
  minisat/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: implement new solver API for Glucose
  glucose/src/core.rs
  glucose/src/lib.rs
  glucose/src/simp.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: implement new solver API for CaDiCaL
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(cadical)!: only keep newest patch releases for each minor (#586)
  cadical/Cargo.toml
  cadical/build.rs
  cadical/cpp-extension/cadical_extension.hpp
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/ccadical_extension.h
  cadical/cpp-extension/ctracer.cpp
  cadical/cpp-extension/solver_extension.cpp
  cadical/patches/v150.patch
  cadical/patches/v154.patch
  cadical/patches/v170.patch
  cadical/patches/v190.patch
  cadical/patches/v210.patch
  cadical/patches/v211.patch
  cadical/patches/v220.patch
  cadical/src/ffi.rs
  cadical/src/lib.rs
  cadical/tests/flipping.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(cadical): user propagators via ipasir-up
  cadical/build.rs
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/cpp-extension/ccadical_extension.h
  cadical/cpp-extension/cipasirup.cpp
  cadical/cpp-extension/cipasirup.h
  cadical/src/ffi.rs
  cadical/src/ffi/ipasirup.rs
  cadical/src/ffi/prooftracer.rs
  cadical/src/ipasirup.rs
  cadical/src/lib.rs
  cadical/tests/ipasirup.rs
  data/fhcpcs-graph2.hcp
  data/prime121.cnf
  diff
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(cadical): new proof tracer interface
  cadical/src/ffi/prooftracer.rs
  cadical/src/lib.rs
  cadical/src/prooftracer.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(pyapi): update `pyo3` to 0.28.0
  Cargo.lock
  pyapi/Cargo.toml
  pyapi/src/instances.rs
  pyapi/src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update `rand` to 0.10.0
  Cargo.lock
  Cargo.toml
  tools/Cargo.toml
  tools/src/encodings/knapsack.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: convert `allow` to `expect` for lints
  batsat/src/lib.rs
  cadical/src/ffi.rs
  cadical/src/lib.rs
  cadical/src/prooftracer.rs
  capi/src/encodings/am1.rs
  capi/src/encodings/card.rs
  capi/src/encodings/pb.rs
  capi/src/lib.rs
  codegen/templates/capi-am1.rs.j2
  codegen/templates/capi-card.rs.j2
  codegen/templates/capi-pb.rs.j2
  glucose/src/core.rs
  glucose/src/lib.rs
  glucose/src/simp.rs
  ipasir/src/lib.rs
  kissat/src/lib.rs
  minisat/src/core.rs
  minisat/src/lib.rs
  minisat/src/simp.rs
  pigeons/src/types.rs
  pyapi/src/encodings.rs
  pyapi/src/instances.rs
  pyapi/src/lib.rs
  pyapi/src/types.rs
  src/encodings/nodedb.rs
  src/encodings/pb/adder.rs
  src/encodings/pb/dpw.rs
  src/encodings/totdb.rs
  src/encodings/totdb/cert.rs
  src/instances.rs
  src/instances/fio.rs
  src/solvers.rs
  src/solvers/simulators.rs
  src/types.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: convert `allow` to `expect` for lints (#596)
  batsat/src/lib.rs
  cadical/src/ffi.rs
  cadical/src/lib.rs
  cadical/src/prooftracer.rs
  capi/src/encodings/am1.rs
  capi/src/encodings/card.rs
  capi/src/encodings/pb.rs
  capi/src/lib.rs
  codegen/templates/capi-am1.rs.j2
  codegen/templates/capi-card.rs.j2
  codegen/templates/capi-pb.rs.j2
  glucose/src/core.rs
  glucose/src/lib.rs
  glucose/src/simp.rs
  ipasir/src/lib.rs
  kissat/src/lib.rs
  minisat/src/core.rs
  minisat/src/lib.rs
  minisat/src/simp.rs
  pigeons/src/types.rs
  pyapi/src/encodings.rs
  pyapi/src/instances.rs
  pyapi/src/lib.rs
  pyapi/src/types.rs
  src/encodings/nodedb.rs
  src/encodings/pb/adder.rs
  src/encodings/pb/dpw.rs
  src/encodings/totdb.rs
  src/encodings/totdb/cert.rs
  src/instances.rs
  src/instances/fio.rs
  src/solvers.rs
  src/solvers/simulators.rs
  src/types.rs
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: `AddAssign` and `SubAssign` for `Lit`
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: bit operations on `Lit` and `Var`
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: remove unused import
  tests/pb_encodings.rs
Due: cargo-check, cargo-spellcheck
