Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

docs: citation instructions
  README.md
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: citation instructions (#394)
  README.md
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: `IntoIterator` for `&Assignment`
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(ci): self-hosted runner for final CI job
  .github/workflows/ci.yml
Due: none

fix(ci): self-hosted runner for final CI job (#398)
  .github/workflows/ci.yml
Due: none

feat: `IntoIterator` for `&Assignment` (#397)
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): add labeler action
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

chore(ci): add labeler action (#399)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

test(ci): valgrind test for solvers and c-api
  .github/runner/Dockerfile
  .github/workflows/ci.yml
  flake.nix
  justfile
  rust-toolchain.toml
Due: none

test(ci): valgrind test for solvers and c-api (#400)
  .github/runner/Dockerfile
  .github/workflows/ci.yml
  flake.nix
  justfile
  rust-toolchain.toml
Due: none

manually update changelogs
  CHANGELOG.md
  cadical/CHANGELOG.md
  glucose/CHANGELOG.md
  kissat/CHANGELOG.md
  minisat/CHANGELOG.md
Due: none

Fix
  pigeons/src/lib.rs
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

Fix
  pigeons/tests/veripb_examples.rs
Due: cargo-check, cargo-spellcheck

Fix
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs(pigeons): remove incorrect panics sections
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs(pigeons): remove incorrect panics sections (#405)
  pigeons/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: use `increase_soft_clause` instead when parsing DIMACS WCNF
  src/instances/fio/dimacs.rs
  src/instances/opt.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: incorrect parsing of DIMACS WCNF files with duplicate soft clauses (#409)
  src/instances/fio/dimacs.rs
  src/instances/opt.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: reference and architecture diagram
  README.md
  docs/architecture.png
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

docs: reference and architecture diagram (#410)
  README.md
  docs/architecture.png
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

wip update flake
  flake.lock
  flake.nix
Due: none

switch back to `bzip2-sys` to avoid bumping MSRV
  Cargo.lock
  Cargo.toml
Due: cargo-check

chore: update developement environment
  .config/nextest.toml
  flake.lock
  flake.nix
Due: none

chore: switch from veripb to pboxide
  data/single-card-eq.opb
  flake.nix
Due: none

refactor: iterate over nodes in `leaf_iter` for `NodeDb`
  src/encodings/nodedb.rs
  src/encodings/totdb.rs
  src/encodings/totdb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: compute value to totdb node
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: `AsRef<Cl>` for `Vec<Lit>`
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

Squashed 'kissat/csrc/' changes from f7e5776..77bc7ea
  NEWS.md
  VERSION
  configure
  scripts/build-and-test-all-configurations.sh
  src/application.c
  src/arena.c
  src/factor.c
  src/options.c
  src/queue.c
  src/stack.c
  src/stack.h
  src/vector.c
  test/testallocate.c
Due: none

fix: Handle null pointers in empty ranges from solvers
  cadical/src/ffi.rs
  cadical/src/prooftracer.rs
  glucose/src/core.rs
  glucose/src/simp.rs
  ipasir/src/lib.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  solvertests/src/integration.rs
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: handle null pointers in empty ranges from solvers (#418)
  cadical/src/ffi.rs
  cadical/src/prooftracer.rs
  glucose/src/core.rs
  glucose/src/simp.rs
  ipasir/src/lib.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  solvertests/src/integration.rs
  src/utils.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): ignore docker tag updates
  renovate.json
Due: none

chore(ci): ignore docker tag updates (#421)
  renovate.json
Due: none

chore(ci): disable lockfile maintenance
  renovate.json
Due: none

chore(ci): disable lockfile maintenance (#422)
  renovate.json
Due: none

chore: update developement environment (#420)
  .config/nextest.toml
  flake.lock
  flake.nix
Due: none

fix(ipasir/cadical): clause conversion in learner callback
  cadical/src/ffi.rs
  cadical/tests/learning.rs
  ipasir/src/lib.rs
  solvertests/src/integration.rs
  solvertests/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(ipasir/cadical): clause conversion in learner callback (#425)
  cadical/src/ffi.rs
  cadical/tests/learning.rs
  ipasir/src/lib.rs
  solvertests/src/integration.rs
  solvertests/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck
