Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

feat: SIS MaxSAT algorithm
  .config/names.dic
  src/algs.rs
  src/algs/maxsat.rs
  src/instances/opt.rs
  src/lib.rs
  tests/maxsat.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(pyapi): include bimander encoding
  pyapi/python/rustsat/encodings/am1/__init__.pyi
  pyapi/src/encodings/am1.rs
  pyapi/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update PyO3 to 0.24.0
  Cargo.lock
  pyapi/Cargo.toml
Due: cargo-check

fixup! feat: SIS MaxSAT algorithm
  data/auctions_wt-cat_sched_60_70_0003.txt.wcnf
  src/algs/maxsat.rs
  src/instances/opt.rs
  tests/maxsat.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fixup! feat: SIS MaxSAT algorithm
  src/algs/maxsat.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: SIS MaxSAT algorithm
  .config/names.dic
  data/auctions_wt-cat_sched_60_70_0003.txt.wcnf
  src/algs.rs
  src/algs/maxsat.rs
  src/instances/opt.rs
  src/lib.rs
  tests/maxsat.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: cryptominisat interface
  .config/names.dic
  Cargo.lock
  Cargo.toml
  clippy.toml
  cryptominisat/CHANGELOG.md
  cryptominisat/Cargo.toml
  cryptominisat/README.md
  cryptominisat/build.rs
  cryptominisat/data
  cryptominisat/src/lib.rs
  cryptominisat/tests/incremental.rs
  cryptominisat/tests/small.rs
  flake.nix
  src/types/constraints.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fixup! feat: cryptominisat interface
  tools/default.nix
Due: none

chore: bump MSRV to 1.70.0
  .github/workflows/rustsat.yml
  Cargo.toml
  cadical/build.rs
  glucose/build.rs
  kissat/build.rs
  minisat/build.rs
Due: cargo-check, cargo-spellcheck

chore: include nix devshell for nightly
  flake.nix
Due: none

feat: add examples from `rustsat-tools`
  Cargo.lock
  Cargo.toml
  examples/check-solution.rs
  examples/cnf2opb.rs
  examples/enumerator.rs
  examples/gbmosplit.rs
  examples/mcnf2opb.rs
  examples/opb2cnf.rs
  examples/opb2mcnf.rs
  examples/opb2wcnf.rs
  examples/shuffledimacs.rs
  examples/wcnf2opb.rs
  tools/Cargo.toml
Due: cargo-check, cargo-spellcheck

chore: force synced versions via workspace
  .github/workflows/capi.yml
  .github/workflows/pyapi.yml
  Cargo.toml
  capi/Cargo.toml
  pyapi/Cargo.toml
  scripts/sync-versions.sh
Due: cargo-check

feat: main branch documentation
  .github/workflows/pages.yml
  README.md
Due: none

feat(cadical): properly detect c++ features
  cadical/build.rs
Due: cargo-check, cargo-spellcheck

fix: fix all warnings
  cadical/build.rs
  minisat/examples/minisat-cli.rs
  tests/opb.rs
Due: cargo-check, cargo-spellcheck

chore: fail ci on warnings
  .github/workflows/batsat.yml
  .github/workflows/cadical.yml
  .github/workflows/capi.yml
  .github/workflows/glucose.yml
  .github/workflows/ipasir.yml
  .github/workflows/kissat.yml
  .github/workflows/minisat.yml
  .github/workflows/rustsat.yml
Due: none

feat: expose literal parsing functions as internals
  src/instances/fio/dimacs.rs
  src/instances/fio/opb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat(tools): `propagator` tool
  tools/src/bin/propagator.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

perf!: remove blanket implementations for both bounding encodings
  src/encodings/card.rs
  src/encodings/card/cert.rs
  src/encodings/card/dbtotalizer.rs
  src/encodings/card/simulators.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb.rs
  src/encodings/pb/adder.rs
  src/encodings/pb/cert.rs
  src/encodings/pb/simulators.rs
  tests/card_encodings.rs
  tests/pb_encodings.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: translation of assignment from equality
  src/encodings/card/cert.rs
  src/encodings/pb/cert.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

feat: use `DbTotalizer` and `DbGte` as default encodings
  src/encodings/card.rs
  src/encodings/pb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: update devenv
  flake.lock
  flake.nix
Due: none

minimal semver-checks failure
  rust-toolchain.toml
  src/algs.rs
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: use var count from DIMACS header as minimum
  src/instances/fio/dimacs.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): reduce dependency update frequency
  renovate.json
Due: none

chore(ci): update release-plz action
  .github/workflows/release-plz.yml
Due: none

chore(ci): update version in C-API header in release PR
  .github/workflows/release-plz.yml
  scripts/update-capi-header-version.sh
Due: none

chore: temporarily disable semver-checks lint
  Cargo.toml
Due: cargo-check

fix(ci): release-plz workflow
  .github/workflows/release-plz.yml
Due: none
