Repository chrjabs/rustsat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-spellcheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: .+\.(patch|log)$
    -   id: end-of-file-fixer
        exclude: .+\.(patch|log)$
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
    -   id: taplo-format
-   repo: local
    hooks:
    -   id: cargo-check
        name: Check cargo workspace
        description: Check the cargo workspace for errors
        entry: cargo check --workspace
        language: system
        files: (.+\.rs|.*Cargo.(toml|lock))$
        pass_filenames: false
    -   id: cargo-fmt
        name: Format cargo workspace
        description: Format the cargo workspace
        entry: cargo fmt --all
        language: system
        files: src/.+\.rs$
        pass_filenames: false
    -   id: cargo-spellcheck
        name: Spellchecking documentation
        entry: cargo spellcheck --code 1
        language: system
        files: (.+\.rs|docs/.+\.md)$

docs: update shield style
  README.md
  batsat/README.md
  cadical/README.md
  capi/README.md
  glucose/README.md
  ipasir/README.md
  kissat/README.md
  minisat/README.md
  pigeons/README.md
  pyapi/README.md
  tools/README.md
Due: none

chore: sync all rustsat crate versions
  Cargo.lock
  Cargo.toml
  batsat/Cargo.toml
  cadical/Cargo.toml
  capi/Cargo.toml
  glucose/Cargo.toml
  ipasir/Cargo.toml
  kissat/Cargo.toml
  minisat/Cargo.toml
  pigeons/Cargo.toml
  pyapi/Cargo.toml
  solvertests/Cargo.toml
Due: cargo-check

docs: update changelog
  CHANGELOG.md
  batsat/CHANGELOG.md
  cadical/CHANGELOG.md
  glucose/CHANGELOG.md
  ipasir/CHANGELOG.md
  kissat/CHANGELOG.md
  minisat/CHANGELOG.md
  pigeons/CHANGELOG.md
  tools/CHANGELOG.md
Due: none

chore(capi): don't generate header at build time
  .github/workflows/ci.yml
  capi/build.rs
  flake.nix
  scripts/cbindgen-header.sh
Due: cargo-check, cargo-spellcheck

chore: check readmes in git hook
  flake.nix
Due: none

WIP!: capi with macros, probably do codegen instead
  capi/src/encodings.rs
  capi/src/encodings/am1.rs
  capi/src/encodings/card.rs
  capi/src/encodings/pb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

WIP!: codegen for C API
  Cargo.lock
  Cargo.toml
  capi/rustsat.h
  capi/src/encodings/am1.rs
  capi/src/encodings/pb.rs
  capi/src/encodings/totalizer.rs
  codegen/Cargo.toml
  codegen/README.md
  codegen/src/main.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: MSRV to 1.76.0
  Cargo.toml
  README.md
  cadical/build.rs
  glucose/build.rs
  kissat/build.rs
  minisat/build.rs
  src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore(ci): check MSRV on all packages
  .github/workflows/ci.yml
Due: none

refactor: don't explicitely list files in nix build
  tools/default.nix
Due: none

chore(capi): codegen tool for generating bindings
  Cargo.lock
  Cargo.toml
  capi/Cargo.toml
  capi/build.rs
  capi/rustsat.h
  capi/src/encodings.rs
  capi/src/encodings/adder.rs
  capi/src/encodings/am1.rs
  capi/src/encodings/bimander.rs
  capi/src/encodings/bitwise.rs
  capi/src/encodings/card.rs
  capi/src/encodings/commander.rs
  capi/src/encodings/commander.rs~
  capi/src/encodings/dpw.rs
  capi/src/encodings/gte.rs
  capi/src/encodings/ladder.rs
  capi/src/encodings/pairwise.rs
  capi/src/encodings/pb.rs
  codegen/Cargo.toml
  codegen/README.md
  codegen/src/main.rs
  codegen/templates/capi-am1.rs.j2
  codegen/templates/capi-assumps.j2
  codegen/templates/capi-bound-panic.j2
  codegen/templates/capi-card.rs.j2
  codegen/templates/capi-collector-n-vars.j2
  codegen/templates/capi-drop.j2
  codegen/templates/capi-ipasir-lit.j2
  codegen/templates/capi-pb.rs.j2
  codegen/templates/capi-reserve.j2
  codegen/templates/capi-safety.j2
  codegen/templates/capi-test-drop.j2
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: check codegen in precommit hook
  flake.nix
Due: none

chore(ci): check codegen
  .github/workflows/ci.yml
Due: none

chore: fix pre-commit hooks
  .github/pull_request_template.md
  flake.nix
Due: none

chore: disable release for codegen crate
  release-plz.toml
Due: none

fix(cadical): include `ctracer.cpp` in C++ build
  cadical/cpp-extension/ccadical_extension.cpp
Due: none

test(cadical): connect proof tracer
  cadical/src/prooftracer.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: GTE bug with limited connections
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: GTE bug with limited connections (#357)
  src/encodings/totdb.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix(cadical): include `ctracer.cpp` in C++ build (#356)
  cadical/cpp-extension/ccadical_extension.cpp
  cadical/src/prooftracer.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: add `publish = false` where appropriate
  capi/Cargo.toml
  codegen/Cargo.toml
  pyapi/Cargo.toml
  release-plz.toml
  solvertests/Cargo.toml
Due: cargo-check

chore(ci): always run required check
  .github/workflows/ci.yml
Due: none

chore: add `publish = false` where appropriate (#358)
  capi/Cargo.toml
  codegen/Cargo.toml
  pyapi/Cargo.toml
  release-plz.toml
  solvertests/Cargo.toml
Due: cargo-check

chore(ci): always run required check (#359)
  .github/workflows/ci.yml
Due: none

feat(cadical/kissat): make `git2` optional
  cadical/Cargo.toml
  cadical/README.md
  cadical/build.rs
  cadical/src/lib.rs
  kissat/Cargo.toml
  kissat/README.md
  kissat/build.rs
  kissat/src/lib.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

tests(ci): use `cargo hack`
  .github/workflows/ci.yml
  scripts/check-all-features.sh
  scripts/dry-run-publish.sh
  scripts/rust-versions.sh
Due: none

fix(ci): workflows that only run on main
  .github/workflows/release-plz.yml
  justfile
Due: none

fix(ci): pdoc for pages
  .github/runner/Dockerfile
Due: none

chore: update rust version
  .github/runner/Dockerfile
  cadical/README.md
  cadical/build.rs
  cadical/src/lib.rs
  capi/rustsat.h
  capi/src/encodings/am1.rs
  capi/src/encodings/card.rs
  capi/src/encodings/dpw.rs
  capi/src/encodings/pb.rs
  codegen/templates/capi-ipasir-lit.j2
  flake.lock
  glucose/src/core.rs
  glucose/src/simp.rs
  kissat/build.rs
  minisat/src/core.rs
  minisat/src/simp.rs
  pigeons/README.md
  pigeons/src/lib.rs
  rust-toolchain.toml
  src/algs/maxsat.rs
  src/encodings/atomics.rs
  src/encodings/card/totalizer.rs
  src/encodings/pb/adder.rs
  src/encodings/pb/dpw.rs
  src/encodings/pb/gte.rs
  src/encodings/totdb.rs
  src/encodings/totdb/cert.rs
  src/instances.rs
  src/instances/fio/dimacs.rs
  src/instances/opt.rs
  src/solvers/external.rs
  src/types/constraints.rs
  tools/src/bin/encodings.rs
  tools/src/encodings/cnf/clustering.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

fix: safe deserialization for `Var`
  Cargo.lock
  Cargo.toml
  src/types.rs
Due: cargo-check, cargo-fmt, cargo-spellcheck

chore: slightly clean up dependencies
  Cargo.lock
  Cargo.toml
Due: cargo-check

chore(ci): test coverage with coveralls
  .github/runner/Dockerfile
  .github/workflows/ci.yml
  flake.nix
  justfile
  rust-toolchain.toml
Due: none
